<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.my.profile.ProfileMapper">

<select id="selectOneProfile" parameterType="String" resultType="UserDomain">
select USER_ID as id, NAME, EMAIL, PASSWORD, PHONE, INTRO, PROFILE as img, BIRTH, ACTIVATION
from USERS
where USER_ID=#{id}
</select>



</mapper>