<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:replace="~{fragments/cdn :: cdn}"></th:block>
<style type="text/css">
#wrap{  margin: 0px auto; width: 1000px; height: 1200px; }	
#header{ height: 150px;	 }	
#container{ height: 950px;	 }	
#footer{ height: 100px;}	
</style>

<script type="text/javascript">
$(function(){
	setDept();
	
	$("#btn").click(function(){
		var deptno=$("#deptno").val();
		if(deptno !="N/A"){//지ㄱ점이선택되었다면
			//지점에 근무하는 사원들을 검색
			var param={deptno:deptno};
			$.ajax({
				url:"/ajax/searchEmpInDept",
				data:param,
				type:"GET",
				dataType:"JSON",
				error:function(xhr){
					alert("지점사원정보를 검색할수없습니다")
					console.log(xhr.status);
				},
				success:function(jsonObj){
					
					$("#empTab>tbody").empty();
					if(jsonObj.flag){
						var dname=$("#deptno :selected").text();
						$("#deptOutput").html(dname);
						if(jsonObj.data.length==0){
							$("#empTab>tbody:last")
							.append(`<tr><td colspan='7' style="text-align:center">
							<strong>${ dname}은 오픈준비중입니다.</strong></td></tr>`);
						}// end if
						$.each(jsonObj.data,function(i,ele){
							var createTr=`<tr>
							<td>${i+1}</td>
							<td>${ele.empno}</td>
							<td>${ele.ename}</td>
							<td>${ele.job}</td>
							<td>${ele.sal}</td>
							<td>${ele.comm}</td>
							<td>${ele.hiredate}</td>
							</tr>`;
						$("#empTab>tbody:last").append(createTr);
						});//each
					}//end
				}
			});//ajax
		}//endif
	});//click
});//ready

function setDept(){
	$.ajax({
		url:"/ajax/searchAllDept",
		dataType:"JSON",
		error:function(xhr){
			alert("부서정보를 검색할수없습니다.\n잠시 후 다시 시도")
			console.log(xhr.status);
		},
		success: function(jsonObj){
			var deptnoNode=$("#deptno")[0];
			
			deptnoNode.length=1;
			if(jsonObj.flag){
			$.each(jsonObj.data,function(i,ele){
			deptnoNode.options[i+1]=new Option(ele.dname,ele.deptno);
			});
		}
			
		}
	});
}
</script>
</head>
<body>
<div id="wrap">
<div id="header">헤더
<th:block th:replace="~{fragments/header :: header}"></th:block>
</div>
<div id="container">
<a th:href="@{/car/carAllSearch}">차량전체 조회</a>
<a th:href="@{/board/boardList?currentPage=1}">게시판</a>
<a th:href="@{/day0123/bcrypt}"> 일방향해쉬bcrypt</a>
<a th:href="@{/member/joinFrm}"> 회원가입</a>
<a th:href="@{/member/searchMember?role=G}"> 회원정보 조회</a>
<a th:href="@{/member/searchMember?role=S}"> 회원정보 조회</a>
<th:block th:if="${session.userId eq null}">
<a th:href="@{/member/loginFrm}"> 로그인</a>
</th:block>
<th:block th:unless="${session.userId eq null}">
<a th:href="@{/member/logout}"> 로그아웃</a>
</th:block>
<div>
<strong>AJAX 부서 사원 조회</strong>
<select id="deptno">
<option value="N/A">-----부서선택------</option>
</select>
<input type="button" value="검색" id="btn" class="btn btn-sm btn-info">
<div id="empOutput"></div>
<div>[<span id="deptOutput">지점명</span>]</div>
<table id="empTab" class="table table-hover">
<thead>
<tr>
<td>번호</td>
<td>사원번호</td>
<td>사원명</td>
<td>직무</td>
<td>연봉</td>
<td>보너스</td>
<td>입사일</td>
</tr>
</thead>
<tbody>


</tbody>
</table>
</div>
</div>
<div id="footer">푸터</div>
<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</div>
</body>
</html>