<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.user.my.setting.SettingMapper">
    
    <!-- 설정 상세 조회 -->
    <select id="selectSettingInfo" resultType="SettingDomain">
        SELECT  USER_ID as id, NAME, PROFILE as img, EMAIL, PHONE, PASSWORD, INTRO
        FROM    users
        WHERE   user_id = #{userId}
    </select>
    
    <!-- 프로필 사진 변경 -->
    <update id="updateImg">
        UPDATE  users
        SET     PROFILE = #{imgPath}
        WHERE   user_id = #{userId}
    </update>
    
    <!-- 닉네임 변경 -->
    <update id="updateNick">
        UPDATE  users
        SET     NAME = #{name}
        WHERE   user_id = #{userId}
    </update>
    
    <!-- 자기소개 변경 -->
    <update id="updateIntro">
         UPDATE  users
         SET     INTRO = #{intro}
         WHERE   user_id = #{userId}
    </update>
    
    <!-- 이메일 변경 -->
    <update id="updateEmail">
         UPDATE  users
         SET     EMAIL = #{email}
         WHERE   user_id = #{userId}
    </update>
    
    <!-- 현재 비밀번호 조회 -->
    <select id="selectPassword" resultType="String">
        SELECT  PASSWORD
        FROM    users
        WHERE   user_id = #{userId}
    </select>
    
    <!-- 비밀번호 변경 -->
    <update id="updatePass">
         UPDATE  users
         SET     PASSWORD = #{password}
         WHERE   user_id = #{userId}
    </update>
    
    <!-- 휴대폰 번호 변경 -->
    <update id="updatePhone" parameterType="String">
        UPDATE USERS
        SET PHONE = #{phone}
        WHERE USER_ID = #{userId}
    </update>

    <!-- 회원 탈퇴 (비활성화) -->
    <update id="updateActivation" parameterType="String">
        UPDATE USERS
        SET ACTIVATION = 0
        WHERE USER_ID = #{userId}
    </update>

</mapper>