<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.member.login">
<!--아이디에 해당하는 비밀번호를 검색  -->
<select id="selectOneUserInfo" parameterType="LoginDTO" resultType="memberDomain">
select name,email,password
from spring_member
where id=#{id}
</select>
<!--로그인 히스토리  -->
<insert id="loginHistory" parameterType="LoginDTO">
insert into member_login_history(num,id,ip,result)
values(seq_history.nextval,#{id},#{ip},#{result})
</insert>
</mapper>









