<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="properties/database.properties" />
	<typeAliases>
		<!-- 자동차 관련 alias -->
		<typeAlias type="kr.co.sist.car.CarModelDomain" alias="cmoDomain" />
		
		<!-- 게시판 관련 alias -->
		<typeAlias type="kr.co.sist.board.BoardDTO" alias="boardDTO" />
		<typeAlias type="kr.co.sist.board.BoardDomain" alias="boardDomain" />
		<typeAlias type="kr.co.sist.board.RangeDTO" alias="rangeDTO" />
		<!--부서번호찾기   -->
		<typeAlias type="kr.co.sist.ajax.DeptDomain" alias="deptDomain"/>
		<typeAlias type="kr.co.sist.ajax.EmpDomain" alias="empDomain"/>
		<!--member에서사용   -->
		<typeAlias type="kr.co.sist.member.MemberDTO" alias="memberDTO"/>
		<typeAlias type="kr.co.sist.member.MemberDomain" alias="memberDomain"/>
		<!--로그인에사용  -->
		<typeAlias type="kr.co.sist.member.login.LoginDTO" alias="loginDTO"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${id}" />
				<property name="password" value="${pass}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="kr/co/sist/board/boardMapper.xml" /><!-- 게시판 쿼리 -->
		<mapper resource="kr/co/sist/car/carMapper.xml" /><!-- 자동차 업무 -->
		<mapper resource="kr/co/sist/ajax/ajaxMapper.xml" /><!-- ajax 업무 -->
		<mapper resource="kr/co/sist/member/memberMapper.xml" /><!-- 회원 -->
		<mapper resource="kr/co/sist/member/login/loginMapper.xml" /><!-- 로그인 -->
	</mappers>

</configuration>